.about {
    padding: 80px 0px 150px 0px;
}

.about .about-container {
    box-sizing: content-box;
    max-width: 1725px;
    margin: 0px 0px 0px auto;
    padding: 0px 15px;
}

.about-content {}

.our-story {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 130px 0px;
}

.our-story__column {}

.our-story__column:first-of-type {
    width: 100%;
    max-width: 440px;
}


.our-story__column h2 {
    font-family: 'Inter';
    font-weight: 600;
    font-style: 'Semi Bold';
    font-size: 54px;
    padding: 0px 0px 30px 0px;
}

.our-story__column p {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 16px;
}

.our-story__column img {
    width: 1200px;
}

.bisness-results {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bisness-results_title {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: 'SemiBold';
    font-size: 20px;
}

.bisness-results_text {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 14px;
}

.bisness-results_padding {
    padding: 0px 0px 130px 0px;
}

.bisness-results__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 5px;
    border-radius: 4px;
    padding: 30px;
}

.bisness-results__item_border {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.bisness-results__item img {
    display: inline-block;
    width: 32px;
    height: 30px;
    object-fit: cover;
}

.bisness-results__item span {
    display: inline-block;
    font-family: 'Inter';
    font-weight: 700;
    font-style: 'Bold';
    font-size: 32px;
}

.bisness-results__item .bisness-results__img {
    background-color: #000;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    outline: 10px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.employees-content {
    position: relative;
    padding: 0px 0px 130px 40px;
}

.employees {
    width: 100%;
    position: relative;
    padding: 0px 0px 50px 40px;
    height: 100%;
    z-index: 1;
    min-width: 0px;
}


.employees__item {
    display: flex;
    justify-content: space-between;
}

.employees__person {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.employees__item h3 {
    font-family: 'Inter';
    font-weight: 500;
    font-style: 'Medium';
    font-size: 32px;
}


.employees__img {
    background-color: rgba(245, 245, 245, 1);
    padding: 30px 35px 0px 35px;
    margin-bottom: 15px;
}


.employees__links {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

/* Banner and slider */

/* Обмежувальна оболонка */
.slick-list {
    overflow: hidden;
}

/* Стрічка слайдів */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Слайдер */

.slick-slider {}

/* Слайдер запущений */

.slick-slider.slick-initialized {}

/* Слайдер з крапками */

.slick-slider.slick-dotted {}


/* Слайд */

.slick-slide {}

/* Слайд активний (показується) */

.slick-slide.slick-active {}

/* Слайд основний */

.slick-slide.slick-current {}

/* Слайд по центру */

.slick-slide.slick-center {}

/* Клонований слайд */

.slick-slide.slick-cloned {}

/* Стрілка вліво */

.slick-arrow.slick-prev {}

/* Стрілка вправо */

.slick-arrow.slick-next {}



/* Точки (буліти) */
.employees .slick-dots {
    position: absolute;
    bottom: -50px;
    left: -48px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
}

.employees .slick-dots li {
    list-style: none;
}

/* Елемент точки */
.employees .slick-dots li button {
    font-size: 0px;
    width: 14px;
    height: 14px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

.employees .slick-dots li.slick-active button {
    background-color: rgba(219, 68, 68, 1);
    outline: 2px solid rgba(0, 0, 0, 0.3);
}

/* Стрілка не активна */
.slick-arrow.slick-disabled {}


/* Активна точка */
.slick-dots li.slick-active {}



.employees__item {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 0px;
    z-index: 2;
}

.slider {
    padding: 0px;
}

@media (max-width: 1200px) {}

@media (max-width: 1150px) {}

@media (max-width: 768px) {}

@media (max-width: 600px) {
    .employees .slick-dots li button {
        font-size: 0px;
        width: 10px;
        height: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
    }
}