.bank {
    display: flex;
    column-gap: 15px;
}

.bank__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 0.45px 4.48px 0px rgba(183, 183, 183, 0.08);
    border-radius: 7px;
    background-color: #fff;
    padding: 12px 8px;
    cursor: pointer;
}

.bank__link img {
    display: inline-block;
    width: 35px;
    height: 15px;
}