/* Banner and slider */

/* Обмежувальна оболонка */
.slick-list {
    overflow: hidden;
}

/* Стрічка слайдів */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Слайдер */

.slick-slider {}

/* Слайдер запущений */

.slick-slider.slick-initialized {}

/* Слайдер з крапками */

.slick-slider.slick-dotted {}


/* Слайд */

.slick-slide {}

/* Слайд активний (показується) */

.slick-slide.slick-active {}

/* Слайд основний */

.slick-slide.slick-current {}

/* Слайд по центру */

.slick-slide.slick-center {}

/* Клонований слайд */

.slick-slide.slick-cloned {}

/* Стрілка вліво */

.slick-arrow.slick-prev {}

/* Стрілка вправо */

.slick-arrow.slick-next {}



/* Стрілка */
.banner .slick-arrow {
    font-size: 0px;
    z-index: 5;
    width: 50px;
    height: 70px;
}

/* Точки (буліти) */
.banner .slick-dots {
    position: absolute;
    bottom: 5px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 10px;
}

.banner .slick-dots li {
    list-style: none;
}

/* Елемент точки */
.banner .slick-dots li button {
    font-size: 0px;
    width: 14px;
    height: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

.banner .slick-dots li.slick-active button {
    background-color: rgba(219, 68, 68, 1);
    outline: 2px solid rgba(255, 255, 255, 1);
}



.slider-btns .slick-arrow {
    font-size: 0px;
    z-index: 5;
    width: 50px;
    height: 70px;
}


.slider-btns .slick-arrow.slick-prev {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 50%;
    background-image: url("../img/slider-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    z-index: 5;
}

.slider-btns .slick-arrow.slick-next {
    background-color: rgba(245, 245, 245, 1);
    border-radius: 50%;
    width: 46px;
    height: 46px;
    background-image: url("../img/slider-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
}

/* Стрілка не активна */

.slick-arrow.slick-disabled {}



/* Активна точка */

.slick-dots li.slick-active {}


/* Addition Sliders */

.banner,
.slider,
.slider-category,
.slider-products,
.slider-happy-customers {
    position: relative;
    height: 100%;
    z-index: 1;
    min-width: 0px;
    padding: 40px 0px 0px 0px;
}

.banner__item,
.slider__item,
.slider-category__item,
.slider-products__item,
.slider-happy-customers__item {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 0px;
    z-index: 2;
}

.banner {
    width: 85%;
    padding: 70px 0px 0px 40px;
}

.slider {
    padding: 0px;
}

@media (max-width: 1200px) {
    .banner {
        width: 78%;
        padding: 40px 0px 0px 0px;
    }
}

@media (max-width: 1150px) {
    .banner {
        width: 78%;
    }
}

@media (max-width: 768px) {
    .banner {
        width: 100%;
        padding: 30px 0px 0px 0px;
    }
}

@media (max-width: 600px) {
    .banner .slick-dots li button {
        font-size: 0px;
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
    }
}