.burger {
    display: none;
}

.burger-line {}

@media (max-width: 768px) {
    .burger {
        display: block;
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .burger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        top: 8px;
        left: 0px;
        background-color: #000;
        transition: all 0.3s ease-in-out;
    }

    .burger::before,
    .burger::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 100%;
        left: 0px;
        background-color: #000;
        /* border-radius: 5px; */
        transition: all 0.3s ease-in-out;
    }

    .burger::before {
        top: 0px;
    }

    .burger::after {
        bottom: 0px;
    }

    .burger.active span {
        transform: scale(0);
    }

    .burger.active::before {
        transform: rotate(45deg);
        top: 8px;
    }

    .burger.active::after {
        transform: rotate(-45deg);
        top: 8px;
    }
}