.cart-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.cart-wrapper__comments {
    width: 100%;
    max-width: 1245px;
}

.cart-wrapper__comments.comments {
    row-gap: 30px;
}

.cart-wrapper__comments .comment {
    max-width: 605px;
}

.cart-product {
    display: flex;
    column-gap: 35px;
    padding: 100px 0px;
}

.cart-product__images {
    display: inline-flex;
    align-items: flex-start;
    /* position: relative; */
    z-index: 1;
    /* height: 100%; */
}

.cart-product__info,
.cart-column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cart-product__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0%;
}

.cart-product__price {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    letter-spacing: 0%;
    color: #000;
}

.cart-product__price_sale {}


.cart-product__price_regular span {
    color: #b4b4b4;
    text-decoration: line-through;
}


.colors,
.sizes,
.cart-product__short-description,
.cart-product__description {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 0px 20px 0px;
}

.cart-product__short-description,
.cart-product__description {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0%;
    width: 100%;
    max-width: 590px;
}

.cart-product__add-cart .cart-row {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.cart-product__add-cart .single_add_to_cart_button {
    border-radius: 62px;
    padding: 16px 54px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    width: 100%;
    max-width: 400px;
}



.cart-product__add-cart input[type=number]::-webkit-inner-spin-button,
.cart-product__add-cart input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-product__add-cart input[type=number] {
    -moz-appearance: textfield;
}

.cart-product__add-cart .quantity {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 15px;
    z-index: 1;
    background-color: rgba(240, 240, 240, 1);
    padding: 5px 20px;
    border-radius: 62px;
}

.cart-product__add-cart .qty-btn {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background: #eee;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    z-index: 1;
}

.cart-product__add-cart .quantity input[type=number] {
    width: 100%;
    max-width: 30px;
    background-color: rgba(240, 240, 240, 1);
}

/* .cart-product__add-cart .qty-btn:hover {
    background: #ddd;
} */

.cart-product__add-cart .qty {
    width: 60px;
    text-align: center;
}

.cart-product__add-cart .qty-minus {
    /* position: absolute;
    left: 0px; */
    background: url('../img/input-minus.svg') center no-repeat;
    z-index: 2;
}

.cart-product__add-cart .qty-plus {
    /* position: absolute;
    right: 0px; */
    background: url('../img/input-plus.svg') center no-repeat;
    z-index: 2;
}


.sub-title {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 16px;
    letter-spacing: 0%;
    margin-bottom: 15px;
}


.colors__items,
.sizes__items {
    display: flex;
    gap: 12px;
}


.sizes__items .size-radio {
    display: inline-block;
    cursor: pointer;
    padding: 12px 24px;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 62px;
}

.sizes__items .sizes__name {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 16px;
    background-color: transparent;
}

.sizes__items .size-radio.active,
.sizes__items .size-radio.active .sizes__name {
    color: #fff;
    background-color: #000;
}

.colors .color-radio {
    position: relative;
    cursor: pointer;
    width: 37px;
    height: 37px;
}

/* .colors .color-radio input {
    display: none;
} */

.colors .color-circle {
    display: inline-block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    /* background-color: rgba(49, 79, 74, 1); */
}

.colors .color-radio input:checked+.color-circle {
    background-image: url('../img/Arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
}