.cart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.cart-wrapper__comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cart-wrapper__comments .comments {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.cart-wrapper__comments .comments {
    row-gap: 25px;
}

.cart-wrapper__comments .comments .comment {
    max-width: 585px;
}

.cart-wrapper__sections {
    width: 100%;
}

.cart-wrapper__links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 0px 15px 0px;
}

.cart-wrapper__link {
    display: inline-block;
    text-align: center;
    padding: 0px 0px 20px 0px;
    width: 100%;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-family: 'Satoshi';
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-wrapper__link:hover {
    color: rgba(0, 0, 0, 0.6);
}

.cart-wrapper__link.active {
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.cart-wrapper__items {
    display: flex;
    width: 100%;
}

.cart-wrapper__item {
    display: none;
    width: 100%;
}

.cart-wrapper__item.active {
    display: block;
}

.cart-wrapper__view-all {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0%;
    border-radius: 62px;
    padding: 16px 44px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}

.cart-wrapper__view-all.hide {
    visibility: hidden;
    opacity: 0;
    transition: 0.3s all ease;
}



.cart-product {
    display: flex;
    column-gap: 35px;
    padding: 100px 0px;
    height: 100%;
}

.cart-product__images {
    display: flex;
    column-gap: 18px;
    z-index: 1;
}

.cart-product__info,
.cart-column {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.cart-product__info {
    height: 100%;
    max-height: 540px;
}

.cart-product__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: 0%;
}

.cart-product__price {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    letter-spacing: 0%;
    color: #000;
}

.cart-product__price_sale {}


.cart-product__price_regular span {
    color: #b4b4b4;
    text-decoration: line-through;
}


.colors,
.sizes,
.cart-product__short-description,
.cart-product__description {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 0px 20px 0px;
}

.cart-product__short-description,
.cart-product__description {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0%;
    width: 100%;
    max-width: 590px;
}

.cart-product__add-cart .cart-row {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.cart-product__add-cart .single_add_to_cart_button {
    border-radius: 62px;
    padding: 16px 54px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
    width: 100%;
    max-width: 400px;
}



.cart-product__add-cart input[type=number]::-webkit-inner-spin-button,
.cart-product__add-cart input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cart-product__add-cart input[type=number] {
    -moz-appearance: textfield;
}

.cart-product__add-cart .quantity {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 15px;
    z-index: 1;
    background-color: rgba(240, 240, 240, 1);
    padding: 5px 20px;
    border-radius: 62px;
}

.cart-product__add-cart .qty-btn {
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background: #eee;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
    z-index: 1;
}

.cart-product__add-cart .quantity input[type=number] {
    width: 100%;
    max-width: 30px;
    background-color: rgba(240, 240, 240, 1);
}

/* .cart-product__add-cart .qty-btn:hover {
    background: #ddd;
} */

.cart-product__add-cart .qty {
    width: 60px;
    text-align: center;
}

.cart-product__add-cart .qty-minus {
    /* position: absolute;
    left: 0px; */
    background: url('../img/input-minus.svg') center no-repeat;
    z-index: 2;
}

.cart-product__add-cart .qty-plus {
    /* position: absolute;
    right: 0px; */
    background: url('../img/input-plus.svg') center no-repeat;
    z-index: 2;
}


.sub-title {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 16px;
    letter-spacing: 0%;
    margin-bottom: 15px;
}


.colors__items,
.sizes__items {
    display: flex;
    gap: 12px;
}


.sizes__items .size-radio {
    display: inline-block;
    cursor: pointer;
    padding: 12px 24px;
    background-color: rgba(240, 240, 240, 1);
    border-radius: 62px;
}

.sizes__items .sizes__name {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-style: 'Regular';
    font-size: 16px;
    background-color: transparent;
}

.sizes__items .size-radio.active,
.sizes__items .size-radio.active .sizes__name {
    color: #fff;
    background-color: #000;
}

.colors .color-radio {
    position: relative;
    cursor: pointer;
    width: 37px;
    height: 37px;
}

/* .colors .color-radio input {
    display: none;
} */

.colors .color-circle {
    display: inline-block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    /* background-color: rgba(49, 79, 74, 1); */
}

.colors .color-radio input:checked+.color-circle {
    background-image: url('../img/Arrow-down.svg');
    background-repeat: no-repeat;
    background-position: center;
}


.cart-wrapper__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cart-wrapper__row {}

.cart-wrapper__column {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.cart-wrapper__column:last-of-type {
    justify-content: flex-end;
}

.cart-wrapper__all-reviews {
    font-family: 'Satoshi';
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 1;
    letter-spacing: 0%;
}


.cart-wrapper__btn {
    /* font-family: 'Satoshi'; */
    font-weight: 500;
    /* font-style: 'Medium'; */
    font-size: 16px;
    border-radius: 62px;
    padding: 16px 20px;
    background-color: rgba(240, 240, 240, 1);
}

.cart-wrapper__btn_black {
    border-radius: 62px;
    padding: 16px 30px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}




@media (max-width: 1450px) {
    .cart-wrapper {
        padding: 0px 50px;
    }

    .cart-wrapper__comments .comments .comment__body {
        padding: 28px 32px;
    }

    .cart-wrapper__comments .comments .comment {
        max-width: 48%;
    }

    .cart-wrapper__comments .comments {
        gap: 30px;
    }

    .comment__user {
        font-size: 20px;
    }

    .comment__text {
        font-size: 16px;
    }
}

@media (max-width: 1280px) {
    .cart-product__info .cart-product__title {
        font-size: 38px;
    }

    .cart-product__price {
        font-size: 28px;
    }
}

@media (max-width: 1180px) {
    .cart-product {
        column-gap: 25px;
    }

    .sub-title {
        font-size: 14px;
    }

    .cart-product__price {
        font-size: 25px;
    }

    .cart-product__info .cart-product__title {
        font-size: 25px;
    }

    .sizes__items .size-radio {
        padding: 10px 20px 12px;
    }

    .sizes__items .sizes__name {
        font-size: 14px;
    }

    .cart-product__short-description {
        font-size: 14px;
    }
}


@media (max-width: 1030px) {
    .cart-product__add-cart .single_add_to_cart_button {
        max-width: 100%;
    }

    .cart-product__images {
        column-gap: 25px;
    }

    .cart-product__title {
        font-size: 25px;
    }

    .sub-title {
        font-size: 14px;
    }

    .cart-product__price {
        font-size: 22px;
    }

    .cart-product__add-cart .cart-row {
        row-gap: 20px;
        flex-wrap: wrap;
    }

    .cart-product__add-cart .quantity {
        width: 100%;
        justify-content: space-between;
    }

    .sizes__items {
        flex-wrap: wrap;
    }

    .sizes__items .size-radio {
        padding: 6px 16px 10px;
    }

    .sizes__items .sizes__name {
        font-size: 12px;
    }
}

@media (max-width: 920px) {
    .cart-wrapper__sections {
        width: 100%;
        max-width: 490px;
    }

    .cart-wrapper__links {}

    .cart-wrapper__link:first-of-type {
        text-align: start;
    }

    .cart-wrapper__link~:last-of-type {
        text-align: center;
    }

    .cart-wrapper__link:last-of-type {
        text-align: end;
    }

    .cart-wrapper__comments .comments .comment {
        max-width: 100%;
    }

    .cart-wrapper__link {
        font-size: 16px;
    }

    .cart-product__info {
        width: 100%;
    }

    .cart-wrapper {
        padding: 0px 30px;
    }

    .cart-product {
        flex-direction: column;
        row-gap: 30px;
    }

    .cart-product__images {
        flex-direction: column;
        align-items: center;
    }

    .cart-product__info .cart-product__title {
        font-size: 38px;
    }

    .cart-product__price {
        font-size: 32px;
    }

    .sub-title {
        font-size: 16px;
    }

    .sizes__items .size-radio {
        padding: 12px 24px 14px;
    }

    .sizes__items .sizes__name {
        font-size: 16px;
    }

    .cart-product__short-description {
        font-size: 16px;
        width: 100%;
        max-width: 500px;
    }

    .cart-product__add-cart .cart-row {
        column-gap: 20px;
        flex-wrap: nowrap;
    }

    .cart-product__add-cart .quantity {
        width: auto;
    }
}


@media (max-width: 680px) {}

@media (max-width: 560px) {
    .cart-wrapper__sections {
        max-width: 380px;
    }

    .cart-product__info {
        max-width: 380px;
    }

    .cart-product__title {
        font-size: 25px;
    }

    .sub-title {
        font-size: 14px;
    }

    .cart-product__price {
        display: flex;
        align-items: center;
        column-gap: 12px;
        font-size: 22px;
    }

    .sizes__items .size-radio {
        padding: 6px 16px 10px;
    }

    .sizes__items .sizes__name {
        font-size: 12px;
    }

    .cart-product__add-cart .quantity {
        padding: 5px 12px;
        max-width: 110px;
    }

    .cart-product__add-cart .quantity .qty-btn {
        width: 30px;
        height: 15px;
    }

    .cart-product__add-cart .single_add_to_cart_button {
        padding: 14px;
        font-size: 14px;
    }

    .cart-wrapper__btn {
        font-size: 14px;
    }

    .cart-wrapper__btn_black {
        padding: 16px 25px;
    }
}

@media (max-width: 460px) {
    .cart-wrapper__sections {
        max-width: 306px;
        min-width: 300px;
    }

    .cart-product__info {
        max-width: 298px;
    }

    .cart-product__info .cart-product__title {
        font-size: 30px;
    }

    .cart-product__price {
        font-size: 20px;
    }

    .cart-wrapper__link:last-of-type {
        max-width: 70px;
    }

    .cart-wrapper__link {
        font-size: 15px;
    }
}