.category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    column-gap: 25px;
    padding: 10px 0px 0px 0px;
}

.category__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    flex-basis: 11.3333%;
    padding: 30px 0px;
}

.category__img {}

.category__name {}

.category__item:hover {
    background-color: rgba(219, 68, 68, 1);
    transition: all 0.3s ease 0s;
    border: 1px solid rgba(0, 0, 0, 0);
}

.category__item:hover .category__name {
    color: #fff;
    transition: all 0.3s ease 0s;
}

@media (max-width: 1200px) {
    .category {
        column-gap: 15px;
    }

    .category__item {
        flex-basis: 18.3333%;
        padding: 20px 10px;
    }

    .category__img {
        width: 40px;
        height: 40px;
    }

    .category__name {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .category {
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .category {
        column-gap: 15px;
        row-gap: 15px;
    }

    .category__item {
        flex-basis: 23.3333%;
        padding: 20px 0px;
        min-width: 160px;
        min-height: 156px;
    }

    .category__img {
        width: 80px;
        height: 80px;
    }

    .category__name {
        font-size: 16px;
    }
}