.comments {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 0px 35px 0px;
    flex-wrap: wrap;
    row-gap: 15px;
}

.comment {
    width: 100%;
    max-width: 515px;
    height: auto;
}

.comment__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 28px 32px;
}

.comment__user {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0%;
    margin-bottom: 12px;
}

.comment__user img {
    width: 20px;
    height: 20px;
    margin-bottom: -3px;
}

.comment__text {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0%;
    width: 100%;
    overflow-wrap: anywhere;
}


@media (max-width: 1700px) {
    .comment {
        max-width: 450px;
    }
}

@media (max-width: 1450px) {
    .comment {
        max-width: 400px;
    }

    .comment__body {
        padding: 20px;
    }
}

@media (max-width: 1280px) {
    .comment {
        max-width: 370px;
    }
}

@media (max-width: 1190px) {
    .comment {
        max-width: 320px;
    }

    .comment__user {
        font-size: 15px;
    }

    .comment__text {
        font-size: 12px;
    }
}

@media (max-width: 1050px) {
    .comment {
        max-width: 280px;
    }
}

@media (max-width: 920px) {
    .comment {
        max-width: 240px;
    }
}

@media (max-width: 800px) {
    .comment {
        max-width: 470px;
    }

    .comments {
        align-items: center;
        flex-direction: column;
        row-gap: 15px;
        padding: 10px 0px 30px 0px;
    }
}