.contact {
    padding: 100px 0px 150px 0px;
}

.contact-form__info {
    width: 30%;
    padding: 30px 50px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.05);
}

.contact-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 50px;
}

.contact-form__body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 30px;
    width: 70%;
    padding: 30px 50px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.05);
}

.contact-form__row {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.contact-form button {
    width: 100%;
    max-width: 200px;
    padding: 16px 38px;
    border-radius: 4px;
    background-color: rgba(219, 68, 68, 1);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact-form button:hover {
    background-color: rgba(219, 68, 68, 0.8);
}

.contact-form label {
    width: 100%;
}

.contact-form input,
.contact-form textarea,
.contact-form textarea::placeholder,
.contact-form input::placeholder {
    width: 100%;
    padding: 10px 0px 10px 15px;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(245, 245, 245, 1);
}

.contact-form textarea {
    max-height: 507px;
}

.contact-form button.disabled {
    color: #fff;
    background-color: rgb(128, 127, 127);
    border-radius: 4px;
    padding: 16px 38px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
}