.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0px 0px;
}

.copyright__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}