.filters {
    padding: 70px 30px 0px 0px;
    width: 22%;
}

.filters__body {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px;
}

.filters__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    text-align: left;
    text-transform: capitalize;
    font-family: 'Satoshi';
    font-weight: 400;
    font-style: 'Regular';
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 0px 0px 15px;
}

.filters__link:hover {
    color: #000;
}


.filters__link:first-of-type {}

.filters__link:last-of-type {
    padding: 0px 0px 0px;
}

.filters__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px 0px 20px 0px;
}

.filters__header img {
    width: 20px;
    height: 18px;
}

.product-filters__title,
.filters__title {
    display: inline-block;
    font-family: 'Satoshi';
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    letter-spacing: 0%;
    color: #000;
    margin: 0px;
}

.filters__link img {}

.filters__categories {
    display: flex;
    flex-direction: column;
}

.filters__category {}


.product-filters__head img {
    transition: all 0.3s ease;
}

.product-filters.active .product-filters__head img {
    transform: rotate(180deg);
}

.product-filters__content {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    position: relative;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}

.product-filters.active .product-filters__content {
    max-height: 100%;
    overflow: visible;
}

.product-filters__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.product-filters.active .product-filters__head {
    padding: 0px 0px 16px;
}

.product-filters .product-filters__content .sizes .sizes__items,
.product-filters .product-filters__content .colors .colors__items {
    flex-wrap: wrap;
    gap: 12px;
}

.filters__item {
    padding: 25px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.filters__item:first-of-type {
    padding-top: 8px;
}

.filters__item:last-of-type {
    border-bottom: none;
}

.filters__btn {
    width: 100%;
    max-width: 247px;
    border-radius: 62px;
    padding: 16px 54px;
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}

@media (max-width: 1270px) {
    .filters {
        width: 20%;
    }
}

@media (max-width: 1200px) {
    .filters {
        padding: 40px 30px 0px 0px;
    }
}

@media (max-width: 768px) {
    .filters {
        display: none;
        padding: 30px 30px 0px 0px;
    }

    .product-filters__content .menu {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
}