.filters {
    padding: 70px 30px 0px 0px;
    width: 15%;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.filters__body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.filters__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    text-align: left;
}

.filters__link img {}

@media (max-width: 768px) {
    .filters {
        padding: 30px 30px 0px 0px;
    }
}