.goods__subtitle {
    color: rgba(219, 68, 68, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
}

.goods {
    padding: 100px 0px 0px 0px;
}

.goods__body_border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.goods__body_padding-bottom {
    padding: 0px 0px 55px 0px;
}

.goods__content {
    padding: 40px 0px 0px 0px;
}

.goods__header {
    display: flex;
    justify-content: space-between;
}

.goods__buttons {
    display: flex;
    align-items: flex-end;
}

.goods__row {
    display: flex;
    align-items: center;
    column-gap: 85px;
}

.goods__title {
    align-self: flex-end;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: -5px;
}

.goods__info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.goods__btn {
    width: 100%;
    text-align: center;
}

.goods .view-all.goods__view-all {
    color: #fff;
    background-color: rgba(219, 68, 68, 1);
    border: 1px solid rgba(219, 68, 68, 1);
    margin: 50px 0px 0px 0px;
}

.goods .view-all.hide.goods__view-all {
    margin: 0px;
}


@media (max-width: 1650px) {
    .goods {
        padding: 100px 30px 0px 30px;
    }
}

@media (max-width: 1100px) {
    .goods {
        padding: 100px 20px 0px 20px;
    }
}

@media (max-width: 768px) {
    .subtitle.goods__subtitle::before {
        width: 8px;
        height: 35px;
    }

    .goods__header {
        position: relative;
    }

    .goods__header {
        position: relative;
    }

    .goods__subtitle {
        font-size: 14px;
    }

    .goods__title {
        font-size: 28px;
        align-self: flex-start;
    }

    .goods .time {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    .goods .time .time__text {
        font-size: 10px;
    }

    .goods .time .time__number {
        font-size: 22px;
    }

    .goods__info {
        row-gap: 26px;
    }

    .goods__buttons {
        align-items: flex-start;
    }

    .goods__buttons .slider-btns .slick-arrow.slick-prev {
        background-size: 15px 15px;
        width: 36px;
        height: 36px;
    }

    .goods__buttons .slider-btns .slick-arrow.slick-next {
        background-size: 15px 15px;
        width: 36px;
        height: 36px;
    }
}

@media (max-width: 530px) {
    .goods {
        padding: 100px 10px 0px 10px;
    }

    .goods__subtitle {
        font-size: 12px;
    }

    .goods__title {
        font-size: 18px;
        padding: 8px 0px 0px 0px;
    }

    .goods .time {
        column-gap: 8px;
        bottom: -2px;
    }

    .goods .time__number::after {
        margin-left: 6px;
    }

    .goods .time .time__text {
        font-size: 10px;
    }

    .goods .time .time__number {
        font-size: 18px;
    }

    .goods__info {
        row-gap: 16px;
    }

    .goods__buttons {
        align-items: flex-start;
    }

    .goods__buttons .slider-btns .slick-arrow.slick-prev {
        background-size: 14px 14px;
        width: 30px;
        height: 30px;
    }

    .goods__buttons .slider-btns .slick-arrow.slick-next {
        background-size: 14px 14px;
        width: 30px;
        height: 30px;
    }
}