.goods__subtitle {
    color: rgba(219, 68, 68, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
}

.goods {
    padding: 100px 0px 0px 0px;
}

.goods__body_border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.goods__body_padding-bottom {
    padding: 0px 0px 55px 0px;
}

.goods__content {
    padding: 40px 0px 0px 0px;
}

.goods__header {
    display: flex;
    justify-content: space-between;
}

.goods__buttons {
    display: flex;
    align-items: flex-end;
}

.goods__row {
    display: flex;
    align-items: center;
    column-gap: 85px;
}

.goods__title {
    align-self: flex-end;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.3;
    margin-bottom: -5px;
}

.goods__info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.goods__btn {
    width: 100%;
    text-align: center;
}

.goods .view-all.goods__view-all {
    color: #fff;
    background-color: rgba(219, 68, 68, 1);
    border: 1px solid rgba(219, 68, 68, 1);
    margin: 50px 0px 0px 0px;
}

.goods .view-all.hide.goods__view-all {
    margin: 0px;
}