.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* слева большой, справа столбец */
    gap: 20px;
}

/* Левый большой блок */
.grid-wrapper__left {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
    background-image: url("../img/ps5.png");
    background-repeat: no-repeat;
    background-size: 511px 511px;
    background-position: center;
}

/* Правая сторона – вертикальная колонка */
.grid-wrapper__right {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

/* Верхний большой блок справа */
.grid-wrapper__top {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
}

/* Нижний ряд — два блока */
.grid-wrapper__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-wrapper__item {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
}


.grid-wrapper__info {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    max-width: 230px;
}

.grid-wrapper__title {
    font-weight: 600;
    font-size: 24px;
    color: #FAFAFA;
    line-height: 1;
    letter-spacing: 3%;
}

.grid-wrapper__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    color: #FAFAFA;
}

.grid-wrapper__btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    text-decoration: none;
}




/* ---------- АДАПТИВ ---------- */
@media (max-width: 768px) {
    .grid-wrapper {
        grid-template-columns: 1fr;
    }

    /* правая сторона становится обычной колонкой */
    .grid-wrapper__right {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    /* нижние два блока тоже становятся друг под другом */
    .grid-wrapper__bottom {
        grid-template-columns: 1fr;
    }
}