.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    padding: 6px 0px 10px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    max-width: 100vw;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #fff;
    z-index: 2;
    left: 0;
    right: 0;
    max-width: 100vw;
}

.head {
    /* position: relative; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    width: auto;
    z-index: 3;
    min-width: 0;
    max-width: 100vw;
    overflow-x: hidden;
}


.logo {
    position: relative;
    z-index: 3;
}

.logo img {
    display: block;
    width: 150px;
    height: 24px;
}

.account-cart {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    column-gap: 20px;
}


.search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 0px;
    flex: 1 1 300px;
    min-width: 120px;
    max-width: 400px;
    z-index: 2;
}

.search-icon {
    cursor: pointer;
    position: absolute;
    margin-left: 20px;
}

.search input {
    width: 100%;
    padding: 15px 40px 15px 55px;
    height: 100%;
    background-color: #F0F0F0;
    border: none;
    border-radius: 62px;
    color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1760px) {
    .search {
        width: 30%;
    }
}

@media (max-width: 1400px) {
    .search {
        max-width: 30%;
    }
}

@media (max-width: 1330px) {}

@media (max-width: 1200px) {
    .search img {
        width: 16px;
        height: 16px;
    }

    .search-icon {
        margin-left: 15px;
    }

    .search input {
        font-size: 14px;
        padding: 10px 30px 10px 45px;
    }

    .account-cart .account img,
    .account-cart .cart img {
        width: 18px;
        height: 16px;
    }
}



@media (max-width: 1000px) {
    .search {
        max-width: 200px;
    }

    .search img {
        width: 13px;
        height: 13px;
    }

    .search-icon {
        margin-left: 12px;
    }

    .search input {
        font-size: 12px;
        padding: 8px 20px 8px 35px;
    }

    .logo img {
        width: 80px;
        height: 15px;
    }
}

@media (max-width: 940px) {}

@media (max-width: 900px) {}

@media (max-width: 800px) {}

@media (max-width: 768px) {
    /* .search {
        position: relative;
        top: 600px;
        right: 110px;
        background-color: #fff;
        z-index: 2;
        transition: all 0.3s ease-in-out;
        overflow: auto;
    } */
}