.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    width: 100%;
}


.logo {}

.account-cart {
    display: flex;
    align-items: center;
    column-gap: 20px;
}


.search {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.search-icon {
    cursor: pointer;
    position: absolute;
    margin-left: 20px;
}

.search input {
    width: 100%;
    padding: 15px 40px 15px 55px;
    height: 100%;
    background-color: #F0F0F0;
    border: none;
    border-radius: 62px;
    color: rgba(0, 0, 0, 0.4);
}