body .nojq {
    display: none;
}

body.lock {
    overflow: hidden;
}

body.lock::before {
    overflow: hidden;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.footer {
    background-color: #F0F0F0;
    padding: 100px 0px 50px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px 0px;
}

.info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 0px 50px;
}

.info__links,
.info__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info__links {
    column-gap: 200px;
}

.info__wrapper,
.info__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
    max-width: 290px;
}

.info__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000;
}

.info__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 0px;
}

.info__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}


.social {
    display: flex;
    gap: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 38px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.social__link img {
    width: 15px;
    height: 15px;
}

.social__link:nth-child(2) {
    background-color: #000;
}


.page-hero {
    display: flex;
    justify-content: space-between;
    /* padding: 40px 0px 0px; */
}

.subtitle {
    display: flex;
    column-gap: 15px;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: #000;
}

.subtitle::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 40px;
    background-color: rgba(219, 68, 68, 1);
    border-radius: 6px;
}

.title {
    letter-spacing: 4%;
    color: #000;
}

.stars {
    display: flex;
    column-gap: 5px;
}

@media (max-width: 1630px) {
    .info {
        padding: 0px 20px 30px;
    }

    .info__links {
        column-gap: 130px;
    }
}

@media (max-width: 1360px) {
    .info__links {
        column-gap: 80px;
    }
}

@media (max-width: 1180px) {
    .info__links {
        column-gap: 50px;
    }
}

@media (max-width: 1070px) {
    .info__text {
        font-size: 14px;
    }

    .info__item {
        row-gap: 20px;
        max-width: 250px;
    }

    .info__title {
        font-size: 14px;
    }

    .info__list {
        row-gap: 10px;
    }

    .info__link {
        font-size: 14px;
    }
}

@media (max-width: 1000px) {
    .footer {
        padding: 30px 0px 20px;
    }

    .info__wrapper {
        width: 100%;
        row-gap: 18px;
    }

    .info {
        padding: 0px 6px 15px;
    }

    .info__links {
        width: 100%;
    }

    .info__text {
        font-size: 15px;
        max-width: 350px;
        width: 100%;
    }

    .footer .logo img {
        width: 150px;
        height: 24px;
    }

    /* .info__item {
        position: relative;
        row-gap: 0px;
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 15px 0px 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out; 
    }*/

    /* .info__item:first-of-type::after {
        display: none;
    }

    .info__item::after {
        position: absolute;
        right: 0px;
        top: 22px;
        display: inline-block;
        content: "";
        background-image: url("../img/arrow.svg");
        background-repeat: no-repeat;
        width: 14px;
        height: 14px;
        transition: all 0.3s ease-in-out;
    }

    .info__item.is-open::after {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
        margin-bottom: -4px;
    } */

    .info__links {
        row-gap: 20px;
        column-gap: 0px;
    }

    .info__items {
        row-gap: 18px;
    }

    .info__item {
        max-width: 200px;
        width: 100%;
    }

    .info__title {
        font-size: 16px;
        margin-bottom: 0px;
        transition: all 0.3s ease-in-out;
    }

    /* .info__item.is-open .info__title {
        margin-bottom: 15px;
        transition: all 0.3s ease-in-out;
    } */

    .info__list {
        /* max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease; */
    }

    /* .info__item.is-open .info__list {
        max-height: 100%;
    } */

    .info__link {
        font-size: 16px;
    }

    .social {
        display: flex;
        gap: 10px;
        padding-bottom: 20px;
    }

    .bottom {
        flex-direction: column;
        row-gap: 10px;
        padding: 12px 6px 0px;
        align-items: center;
    }

    .footer .logo {
        order: 0;
    }
}

@media (max-width: 500px) {

    .info__title,
    .info__link {
        font-size: 14px;
    }
}