body .nojq {
    display: none;
}

body.lock {
    overflow: hidden;
}

body.lock::before {
    overflow: hidden;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.footer {
    background-color: #F0F0F0;
    padding: 100px 0px 50px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 0px;
}

.info {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0px 0px 50px;
}

.info__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
    max-width: 290px;
}

.info__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000;
}

.info__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 0px;
}

.info__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}


.social {
    display: flex;
    gap: 10px;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 38px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.social__link img {
    width: 15px;
    height: 15px;
}

.social__link:nth-child(2) {
    background-color: #000;
}


.page-hero {
    display: flex;
    justify-content: space-between;
    /* padding: 40px 0px 0px; */
}

.subtitle {
    display: flex;
    column-gap: 15px;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.1;
    color: #000;
}

.subtitle::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 40px;
    background-color: rgba(219, 68, 68, 1);
    border-radius: 6px;
}

.title {
    letter-spacing: 4%;
    color: #000;
}

.stars {
    display: flex;
    column-gap: 5px;
}