.nav-menu,
.menu {
    list-style: none;
    display: flex;
    gap: 0px 25px;
    align-items: center;
    padding: 0;
    margin: 0;
}


.menu-item {
    text-wrap: nowrap;
}

.menu-item a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
}

.dropdown {
    background-color: transparent;
    position: relative;
}

.dropdown__dropbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    cursor: pointer;
    border: none;
    color: #000;
}

.dropdown__arrow {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin-top: 4px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.dropdown__arrow.show {
    -webkit-transform: rotate(180deg);
    transform: rotate(-180deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

}

.dropdown__content a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown__link {
    display: block;
    color: #000;
    text-decoration: none;
}

.dropdown__link:hover {
    color: #000;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 4;
    top: 130%;
}

.dropdown__content a:hover {
    background-color: #f1f1f1;
}



@media (max-width: 1200px) {

    .nav-menu,
    .menu {
        gap: 0px 18px;
    }

    .menu-item a {
        font-size: 12px;
    }

    .dropdown__link {
        margin-top: 2px;
        font-size: 12px;
    }

    .dropdown__dropbtn {
        margin-top: 1px;
        align-items: center;
    }

    .dropdown__arrow {
        width: 10px;
        height: 10px;
    }

    .dropdown__content a {
        font-size: 12px;
        padding: 8px 10px;
    }
}

@media (max-width: 1000px) {

    .nav-menu,
    .menu {
        width: auto;
        gap: 0px 10px;
    }
}

@media (max-width: 900px) {

    .nav-menu,
    .menu {
        gap: 0px 10px;
    }

    .dropdown__dropbtn {
        column-gap: 6px;
    }
}

@media (max-width: 768px) {
    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 2;
        transition: all 0.3s ease-in-out;
        overflow: auto;
    }

    .nav-menu.active {
        top: 0px;
    }

    .menu {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 150px;
        gap: 15px 0px;
        overflow: auto;
    }

    .dropdown {
        position: relative;
        left: 54px;
    }
}