.nav-menu,
.menu {
    list-style: none;
    display: flex;
    gap: 0px 25px;
    align-items: center;
    padding: 0;
    margin: 0;
}


.menu-item {
    text-wrap: nowrap;
}

.menu-item a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
}

.dropdown {
    background-color: transparent;
    position: relative;
}

.dropdown__dropbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    cursor: pointer;
    border: none;
    color: #000;
}

.dropdown__arrow {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin-top: 4px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.dropdown__arrow.show {
    -webkit-transform: rotate(180deg);
    transform: rotate(-180deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

}

.dropdown__content a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown__link {
    display: block;
    color: #000;
    text-decoration: none;
}

.dropdown__link:hover {
    color: #000;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown__content a:hover {
    background-color: #f1f1f1;
}