.nav-menu {
    min-width: 0;
    flex-shrink: 1;
    /* overflow: hidden; */
}

.nav-menu .nav-menu__filters {
    display: none;
}

.nav-menu .menu {
    display: flex;
    flex-wrap: nowrap;
    min-width: 0;
}

.nav-menu .menu li {
    min-width: 0;
}


.nav-menu,
.menu {
    list-style: none;
    display: flex;
    gap: 0px 25px;
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 3;
    width: 100%;
}


.menu-item {
    text-wrap: nowrap;
}

.menu-item a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
}

.dropdown {
    background-color: transparent;
    position: relative;
    z-index: 5;
}

.dropdown__dropbtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    cursor: pointer;
    border: none;
    color: #000;
}

.dropdown__arrow {
    display: inline-block;
    width: 14px;
    height: 14px;
    cursor: pointer;
    margin-top: 4px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.dropdown__arrow.show {
    -webkit-transform: rotate(180deg);
    transform: rotate(-180deg);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.dropdown__content a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 10px 15px;

}

.dropdown__link {
    display: block;
    color: #000;
    text-decoration: none;
}

.dropdown__link:hover {
    color: #000;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 5;
    top: 100%;
}

.dropdown__content a:hover {
    background-color: #f1f1f1;
}



@media (max-width: 1200px) {

    .nav-menu,
    .menu {
        gap: 0px 18px;
    }

    .menu-item a {
        font-size: 12px;
    }

    .dropdown__link {
        margin-top: 2px;
        font-size: 12px;
    }

    .dropdown__dropbtn {
        margin-top: 1px;
        align-items: center;
    }

    .dropdown__arrow {
        width: 10px;
        height: 10px;
    }

    .dropdown__content a {
        font-size: 12px;
        padding: 8px 10px;
    }
}

@media (max-width: 1000px) {

    .nav-menu,
    .menu {
        width: 100%;
        gap: 0px 10px;
    }
}

@media (max-width: 900px) {

    .nav-menu,
    .menu {
        gap: 0px 10px;
    }

    .dropdown__dropbtn {
        column-gap: 6px;
    }
}

@media (max-width: 768px) {
    .menu-item {
        width: 100%;
        background-color: #f0f2f5;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .menu-item a {
        display: inline-block;
        width: 100%;
        font-size: 16px;
    }

    .nav-menu {
        flex-direction: column;
        position: fixed;
        left: -100%;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 2;
        transition: all 0.3s ease-in-out;
        overflow: auto;
        padding: 0px 40px 0px 0px;
    }

    .nav-menu.active {
        left: 0px;
        width: 48%;
    }

    .menu {
        position: relative;
        top: 85px;
        left: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px 0px;
        /* overflow: auto; */
        background-color: #fff;
        width: 100%;
    }

    .dropdown {
        position: relative;
        top: 70px;
        left: 20px;
        width: 100%;
        background-color: #f0f2f5;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .dropdown__link {
        font-size: 16px;
    }

    .dropdown__dropbtn {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .dropdown__arrow {
        transform: rotate(-90deg);
    }

    .dropdown__arrow.show {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    .nav-menu__btn {
        background-color: #f0f2f5;
        padding: 10px 20px;
        border-radius: 10px;
        width: 100%;
    }

    .nav-menu .nav-menu__filters {
        position: relative;
        left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .nav-menu .nav-menu__filters {
        top: 100px;
    }

    .nav-menu__btn.active {
        position: absolute;
        top: -20px;
        background-color: #eceef2;
        color: #a0a4a6;
        box-shadow: 0 0 0 10px #fff;
        font-size: 12px;
        max-width: 80px;
        padding: 8px 10px;
        border-radius: 15px;
        overflow: hidden;
    }

    .nav-menu .nav-menu__filters.active {
        top: 120px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .nav-menu .nav-menu__filters .filters.active {
        display: flex;
    }


    .nav-menu .nav-menu__filters .filters {
        border-right: 0px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        padding: 30px 0px 0px 0px;
    }

    .nav-menu .nav-menu__filters .filters .filters__body {
        width: 100%;
        row-gap: 15px;
    }

    .nav-menu .nav-menu__filters .filters .filters__link {
        background-color: #f0f2f5;
        padding: 10px 20px;
        border-radius: 10px;
        width: 100%;
    }

    .nav-menu .filters .filters__link img {
        width: 10px;
        height: 10px;
    }


}


@media (max-width: 600px) {
    .menu {
        width: 100%;
    }

    .nav-menu.active {
        width: 65%;
    }
}