.product-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 30px;
}

.product-cards__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-basis: 23.3333%;
    row-gap: 15px;
    border-radius: 4px;
}


.product-cards .product-cards__item:nth-child(4)~.product-cards__item {
    display: none;
}

.product-cards__image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    padding: 40px 50px;
}

.product-cards__img {}

.product-cards__icons {
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.product-cards__like,
.product-cards__view {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 6px;
    background-color: #fff;
    border-radius: 50%;
}

.product-cards__add {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 60%);
    opacity: 0;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 100%;
}

.product-cards:hover .product-cards__add {
    transform: translate(-50%, 0);
    opacity: 1;
}

.product-cards__like img,
.product-cards__view img {
    width: 20px;
    height: 15px;
}

.product-cards__view {}

.product-cards__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 8px;
}

.product-cards__name {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
}

.product-cards__price {
    color: #DB4444;
}

.product-cards__currency {}

.product-cards__stars {}