.product {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    width: 100%;
    height: 100%;
    min-width: 0px;
    padding: 20px 0px 20px 80px;
    z-index: 2;
}

.product__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    width: 100%;
    max-width: 300px;
}

.product__info_width {
    max-width: 450px;
}


.product__title {
    display: flex;
    column-gap: 25px;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

.product__title_green {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: rgba(0, 255, 102, 1);
    padding-bottom: 5px;
}

.product__logo {
    width: 50px;
    height: 50px;
}

.product__wrapper {
    position: relative;
    display: inline-block;
}

.product__wrapper::before {
    content: "";
    position: absolute;
    top: -40px;
    /* туман сверху */
    bottom: -40px;
    /* туман снизу */
    left: -4px;
    /* маленький туман слева */
    right: -4px;
    /* маленький туман справа */
    background: radial-gradient(circle,
            rgba(173, 173, 173, 0.623) 0%,
            rgba(255, 255, 255, 0.39) 40%,
            transparent 80%);
    filter: blur(45px);
    opacity: 0.9;
    z-index: 1;
    pointer-events: none;
}



.product__img {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 400px;
    height: 350px;
}



.product__img_width {
    width: 568px;
    height: 330px;
    align-self: center;
}

.product__subtext {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 4%;
}

.product__subtext_padding {
    padding-bottom: 25px;
}


.product__btn {
    display: inline-flex;
    align-items: flex-end;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
}

.product__btn_white:hover {
    color: #fff;
}

.product__btn_white {
    padding: 5px 0px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    max-width: 95px;
}

.product__btn_green {
    color: #fff;
    padding: 16px 48px;
    border-radius: 4px;
    background-color: rgba(0, 255, 102, 1);
    max-width: 165px;

}

.product__btn_green:hover {
    color: #fff;
}

.product__btn.product__btn_white::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/arrow-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-right: -35px;
}


.product__time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    padding: 0px 0px 40px 0px;
}

.product__hours,
.product__days,
.product__minutes,
.product__seconds {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
    width: 62px;
    height: 62px;
}

.product__number {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
}

.product__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 1.4;
    color: #000;
}


@media (max-width: 1270px) {

    .product__info {
        row-gap: 5px;
        width: 100%;
        max-width: 500px;
    }

    .product img {
        height: 248px;
        width: 366px;
    }

    .product__title img {
        width: 28px;
        height: 35px;
    }

    .product__title {
        display: flex;
        column-gap: 25px;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        font-weight: 400;
        font-size: 15px;
        line-height: 1.2;
    }

    .product__subtext {
        display: inline-block;
        color: #fff;
        font-weight: 600;
        font-size: 28px;
        line-height: 1.5;
        letter-spacing: 4%;
    }
}

@media (max-width: 900px) {
    .product {
        padding: 20px 0px 20px 50px;
    }

    .product__title img {
        width: 25px;
        height: 33px;
    }

    .product__title {
        display: flex;
        column-gap: 25px;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
    }

    .product__subtext {
        display: inline-block;
        color: #fff;
        font-weight: 600;
        font-size: 25px;
        line-height: 1.5;
        letter-spacing: 4%;
    }
}

@media (max-width: 830px) {
    .product {
        padding: 20px 0px 20px 50px;
    }

    .product img {
        height: 238px;
        width: 336px;
    }

    .product__title img {
        width: 22px;
        height: 30px;
    }

    .product__title {
        display: flex;
        column-gap: 25px;
        justify-content: flex-start;
        align-items: center;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
    }

    .product__subtext {
        display: inline-block;
        color: #fff;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.5;
        letter-spacing: 4%;
    }
}