.product {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    width: 100%;
    height: 100%;
    min-width: 0px;
    padding: 20px 0px 20px 60px;
    z-index: 2;
}

.product__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
    width: 100%;
    max-width: 300px;
}

.product__title {
    display: flex;
    column-gap: 25px;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

.product__logo {
    width: 50px;
    height: 50px;
}

.product__img {
    width: 400px;
    height: 350px;
}

.product__subtext {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.5;
    letter-spacing: 4%;
}

.product__btn {
    display: inline-flex;
    align-items: flex-end;
    text-decoration: none;
    background-color: transparent;
    padding: 5px 0px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    width: 100%;
    max-width: 95px;
}

.product__btn::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../img/arrow-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15px;
    margin-right: -35px;
}