.subscribe {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.subscribe-form {
    position: absolute;
    top: -190px;
    border-radius: 20px;
    padding: 36px 64px;
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 1240px;
}

.subscribe-form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-form__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.subscribe-form__column:last-of-type {
    align-items: flex-end;
}

.subscribe-form__column,
.subscribe-form__title,
.subscribe-form__input,
.subscribe-form__input input,
.subscribe-form__btn {
    width: 100%;
}

.subscribe-form__title {
    max-width: 551px;
}

.subscribe-form__input,
.subscribe-form__btn {
    max-width: 350px;
}

.subscribe-form__input img {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-right: 12px;
}

.subscribe-form__input input:focus {
    /* border: 3px solid rgba(0, 0, 0, 0.2); */
    outline: none;
}

.subscribe-form__input {
    display: flex;
    align-items: center;
}

.subscribe-form__title {
    color: #fff;
    font-family: 'Integral CF';
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: 0%;
    margin-bottom: -2px;
}

.subscribe-form__btn,
.subscribe-form__btn:hover,
.subscribe-form__input {
    padding: 12px 16px;
    border-radius: 62px;
    background-color: #fff;
}


.subscribe-form__btn {
    font-family: 'Satoshi';
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0%;
}