.slider-wrapper {
    display: inline-flex;

}

.swiper {
    padding: 0px 0px 0px 0px;
    /* width: 100%;
    height: 100%;
    max-width: 444px;
    max-height: 530px; */
    width: auto;
    height: auto;
}

.swiper .swiper-wrapper {}

.swiper .swiper-slide {
    width: 100%;
    height: 100%;
    max-width: 444px;
    max-height: 530px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(240, 238, 237, 1);
    border-radius: 20px;
}

.swiper .swiper-slide .product-img {
    width: 100%;
    height: 100%;
    max-width: 244px;
    max-height: 530px;
    padding: 30px;
}

.swiper .swiper-slide .product-img {
    max-width: 100%;
}

.swiper .swiper-pagination {}

/* .swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
    font-size: 80px;
} */
.mini-swiper {
    /* position: relative;
    left: 39px; */
    /* width: 100%; */
    /* height: 100%; */
}

.mini-swiper-wrapper {}


.mini-swiper-slide {
    /* opacity: 0.2; */
    /* transition: opacity 0.3s ease 0s; */
    position: relative;
    padding: 0px 0px 8.5% 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 200px;
}



.mini-swiper .mini-swiper-slide.swiper-slide-thumb-active {
    /* opacity: 1; */
}

.mini-swiper .mini-swiper-slide.swiper-slide-thumb-active img {
    border: 1px solid #000;
}

.swiper .image-wrapper {
    /* background-color: rgba(240, 238, 237, 1); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mini-swiper .mini-swiper-slide img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: rgba(240, 238, 237, 1);
    padding: 30px;
    width: 152;
    height: 167;
}