.swiper {
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.swiper-wrapper {}

.swiper-slide {
    width: auto;
    height: 100%;
    text-align: center;
}

.swiper .swiper-slide .product-img {
    width: 152px;
    height: 100%;
}

.swiper-slide .product-img {
    max-width: 100%;
}

.swiper-pagination {}

/* .swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
    font-size: 80px;
} */
.mini-swiper {
    /* width: 100%; */
    /* height: 100%; */
}

.mini-swiper-wrapper {}


.mini-swiper-slide {
    opacity: 0.2;
    transition: opacity 0.3s ease 0s;
    position: relative;
    padding: 0px 0px 10% 0px;
    cursor: pointer;
    width: 100%;
    height: 100%;
}



.mini-swiper .mini-swiper-slide.swiper-slide-thumb-active {
    opacity: 1;
}



.mini-swiper .mini-swiper-slide img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 200px;
}