.time {
    display: flex;
    align-items: flex-end;
    column-gap: 15px;
}

.time__item {
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    row-gap: 5px;
}

.time__text {
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 1.3;
    color: #000;
}

.time__number {
    display: flex;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 1;
    letter-spacing: 4%;
    z-index: 1;
}

.time__number::after {
    content: ":";
    width: 4px;
    height: 4px;
    color: #E07575;
    margin-left: 10px;
}

.time__item:last-of-type .time__number::after {
    display: none;
}

@media (max-width: 600px) {
    .time {}
}